.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 5%;
  color: white;
}

.sign-up-container,
.login-container {
  margin: 5% auto;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  box-sizing: border-box;
}

.sign-up-container h2,
.login-container h2 {
  margin-bottom: 5%;
}

.sign-up-container form,
.login-container form {
  display: flex;
  flex-direction: column;
}

.sign-up-container label,
.login-container label {
  margin-bottom: 2%;
}

.sign-up-container input,
.login-container input {
  margin-bottom: 5%;
  padding: 2.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.sign-up-container button,
.login-container button {
  padding: 2.5%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-container .google-signup-button {
  margin-top: 5%;
  background-color: #db4437;
}

.sign-up-container .error-message,
.login-container .error-message {
  color: red;
  margin-bottom: 5%;
}

.sign-up-container p,
.login-container p {
  margin-top: 5%;
}

.sign-up-container a,
.login-container a {
  color: #007bff;
  text-decoration: none;
}
